.navbar{
    display: flex;
    padding: 10px;
    background-color: lightseagreen;
    position: sticky;
    z-index: 1000;
    justify-content: end;
    align-items: center;
    
}

.navbar a{
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    color: black;
    gap: 10px;
    background-color: #fff;
    width: fit-content;
    width: 70px;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 30px;  
    box-shadow: 0 10px 10px rgba(13, 12, 12, 0.2);
}

.navbar a:hover{
    width: 90px;
    transition-duration: 0.5s;
    
}